<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <system.ServiceModel>
   <behaviors>
     <serviceBehaviors>
       <behavior>
          <serviceThrottling maxConcurrentCalls="16" maxConcurrentInstances="1000" maxConcurrentSessions="10"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.ServiceModel>
  <configuration>
    <system.web>
      <httpRuntime executionTimeout="36000" />
    </system.web>
  </configuration>
</configuration>